*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  background-color: orange;
}
.App-background {
  background-image: url(../images/Fondo_Wiki.png);
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
}
.App-principal {
  background-image: url(../images/fondo_rojo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
}
/*HEADER*/
.App-header {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-title{
  height: 250px;
  width: 80%;
  background-image: url(../images/title.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.search {
  width: 70%;
  height: 20px;
  margin-top: 20px;
  border-radius: 100px;
}
/*MAIN*/
.Container__page{
	text-align: center;
  height: 100%;
}
.Container__pokemons{
  list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: top;
	padding: 20px;
}

/*POKEMON-CARD*/
.pokemon__card{
	display: block;
  width: 250px;
  margin: 10px;
  background-color: white;

}
.image{
	display: block;
	margin: auto;
  width: 250px;
	height: 150px;
  background-color: lightgrey;
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
}
.image__id{
  position: relative;
  top: 68%;
  left: 0;
  width: 60px;
  height: 30px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.id{
  font-size: 12px;
  color: #423C3A;
  text-align: center;
}

.info{
  padding: 20px;
}

.name{
	font-family: sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: black;
}

.characteristics{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ch-box{
  border-radius: 5px;
  border: 1px solid grey;
  text-align: center;
  color: grey;
  font-size: 12px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 3px;
}
